[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    design,
    duplicate-code,
    fixme,
    format,
    global-variable-not-assigned,
    import-outside-toplevel,
    invalid-name,
    logging-fstring-interpolation,
    missing-docstring,
    no-else-raise,
    no-else-return,
    raise-missing-from,
    unused-argument,
    unused-import,
    wrong-import-order,

[REPORTS]
msg-template={path}:{line}:{column} [{symbol}] {msg}
