[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        line-too-long,
        too-few-public-methods,
        broad-exception-caught,
        duplicate-code,
        import-error,
        no-name-in-module,
        too-many-locals,
        too-many-return-statements,
        too-many-branches,
        too-many-statements,
        too-many-arguments,
        too-many-positional-arguments,
        too-many-lines,
        no-else-return,
        raise-missing-from,
        invalid-name,
        global-statement

[TYPECHECK]
ignored-modules=fastapi
