[settings]
profile = black
indent = '    '
default_section = THIRDPARTY
known_first_party = archie_task,bedrock_models,classify_document_task,email_preprocessor,gpt_models,processors,task_helpers,workato_call
sections = FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
multi_line_output=3
line_length=88
include_trailing_comma: 1
