[MASTER]
ignore-patterns=^sdk/tests/.*$
ignore-paths=sdk/tests

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    duplicate-code,
    too-many-locals,
    too-many-branches,
    too-many-statements
