[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    line-too-long,
    too-few-public-methods,
    too-many-locals,
    too-many-branches,
    too-many-statements
