:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes dashedBorder {
  to {
    background-position: 100% 100%;
  }
}

.upload-container {
  background-image: linear-gradient(90deg, #dee2e6 50%, transparent 50%),
    linear-gradient(90deg, #dee2e6 50%, transparent 50%),
    linear-gradient(0deg, #dee2e6 50%, transparent 50%),
    linear-gradient(0deg, #dee2e6 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    15px 2px,
    15px 2px,
    2px 15px,
    2px 15px;
  background-position:
    0% 0%,
    100% 100%,
    0% 100%,
    100% 0%;
  animation: none;
}

.upload-container.dragging {
  background-image: linear-gradient(90deg, #6f42c1 50%, transparent 50%),
    linear-gradient(90deg, #6f42c1 50%, transparent 50%),
    linear-gradient(0deg, #6f42c1 50%, transparent 50%),
    linear-gradient(0deg, #6f42c1 50%, transparent 50%);
  animation: dashedBorder 20s linear infinite;
}
